main#paginas{
    font-family: Arial;
    font-size: 1.25em;
    text-align: center;
}

h1.titulo1{
    font-family: Fascinate;
    text-align: center;
}

p.op1{
    margin-top: 40px;
    margin-left: 424px;
    width: 500px;
    border: 2px solid black;
    background-color: cyan;
}

p.op2{
    margin-top: 40px;
    margin-left: 424px;
    width: 500px;
    border: 2px solid black;
    background-color: cyan;
}

p.op3{
    margin-top: 40px;
    margin-left: 424px;
    width: 500px;
    border: 2px solid black;
    background-color: cyan;
}